<div class="menuContainer">
  <div class="blurPanel">
      <ion-button class="blurButton buttonPadding" fill="clear" [routerLink]="['/epic']">
        <div>
            <h3>EPIC</h3>
            <p>Earth Polychromatic Imaging camera</p>
        </div>
      </ion-button>

      <ion-button class="blurButton buttonPadding" fill="clear" [routerLink]="['/planet-distance-page']">
          <h3>Planet distance calculator</h3>
      </ion-button>

      <div class="blurButton buttonPadding">
          Button 3
      </div>
  
  </div>
</div>
