<div class="menuContainer">
  <div class="blurPanel">
      <ion-button class="blurButton buttonPadding" fill="clear" [routerLink]="['/epic']">
        <div>
            <h3>EPIC</h3>
            <p>Earth Polychromatic Imaging camera</p>
        </div>
      </ion-button>

      <ion-button class="blurButton buttonPadding" fill="clear" [routerLink]="['/planet-distance-page']">
          <h3>Planet distance calculator</h3>
      </ion-button>

      <ion-button class="blurButton buttonPadding" fill="clear" [routerLink]="['/mars-rover-photos']">
        <h3>Mars Rover Photos</h3>
    </ion-button>
  
  </div>
</div>
