.planetText
{
    text-align: center;
}

.planetSelector
{
    max-width: 80%;
    margin : 2rem;
}

*
{
    margin: 0;
    padding: 0;
}

.pageContainer
{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 100vh;
}

.distanceText
{
    margin-top: 4rem;
}